<carousel></carousel>
<div class="container-fluid" color="primary" >
    <!--About Us-->
      <div class="infoline"><span> About Us </span></div>
      <!--Write Up-->
      <div class="row">
          <div class=" col-xl-3 d-none d-xl-block">
              <img src="assets/shared/RACW.jpg" class="img-thumbnail img-fluid" alt="RACW">
          </div>
          <div class="col-12 col-xl-9">
              <p id="ccontent"><b>Rotaract Club of Waknaghat</b> is an institutional 
                  based organisation of Rotary International District 3080. The spirited and enthusiastic youth of our
                   club has excelled within the district Waknaghat, regardless of it being a secluded area in 
                  Himachal Pradesh. Still. Our club has been serving the community since 2009. Solving real problems takes real 
                  commitment and vision. For the last {{year}} yrs, RACW'S people of action have used their passion, energy 
                  and intelligence to take on Sustainable Projects. Form literacy and peace to water and health, we are alwyas
                  working to make our community better and we stay commited to the end. The club is known for it's hardwork
                   and passion for educational and social initiatvies. Our club comprises of engineers from different trades 
                   with a mix of talents and skills, which we combine and optimize to find the solution any problem by staying
                   true to our motto <i>"Service Before Self"</i>
                   <button type="button" color="primary" class="btn btn-link" style="font-size: 1.3vmax"
                   >Read More</button>
              </p>
                   
          </div>
      </div>
  </div>

<youtubeVideos></youtubeVideos>
<featuredEvents></featuredEvents>
  
