<youtubeVideos></youtubeVideos>

<!-- <mat-accordion>
    <mat-expansion-panel *ngFor="let video of YouTubeVideos">
      <mat-expansion-panel-header>
        <mat-panel-title>
            {{video.title}}
        </mat-panel-title>
        <mat-panel-description>
            {{video.subtitle}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <youtube-player
      videoId="{{video.link}}"
      (ready)="savePlayer($event)"
      (change)="onStateChange($event)"
    ></youtube-player>
    </mat-expansion-panel>
    
  </mat-accordion> -->
  
